.Login{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    
}
.tamImagen{
    
    width: 10cm;
    height: 10cm;
    margin-left: 11.6cm;
    padding: 10px;
}
.centrado{
    width: 10cm;
    height: 7cm;
    
    border-color: black;
}
.tamTodo{
    width: 6cm;
    height: 6cm;
    margin:auto;
}
.margen10{
    margin-left: 12.5cm;
}